@using Microsoft.FluentUI.AspNetCore.Components

<div class="top-bar">
	<img src="images/gklogo.png" alt="globalkineticlogo" />
	<div class="customer-heading">
		<FluentIcon TValue="Icon" Value="@(new Icons.Regular.Size32.Database())" Color="@Color.Custom" CustomColor="antiquewhite" />
		<h3>Customer Portal</h3>
	</div>
</div>