.top-bar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    height: 100px;
    max-height: 125px;
    width: 100%;
    background-color: var(--midnight-blue);
    padding: 10px;
    border-bottom: 2px solid var(--brand-red);
}

    .top-bar img {
        flex: 0 0 auto;
        max-height: 100%;
        width: auto;
        object-fit: contain;
    }

.customer-heading {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
}

.top-bar h3 {    
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: antiquewhite;    
    line-height: 1;
}
